doctype html
meta(charset="utf-8")
title Detox Chat
link(rel="shortcut icon" href="favicon.ico")
link(rel="stylesheet" href="css/style.css")
script(async data-main="js/index" src="node_modules/alameda/alameda.js")
script(async src="node_modules/@webcomponents/webcomponentsjs/webcomponents-hi-sd-ce.js")
detox-chat-app
