doctype html
meta(charset="utf-8")
title Detox Chat
link(rel="shortcut icon" href="favicon.ico")
//- TODO: Some mechanism for appending versions to URLs here and in js/index
link(rel="stylesheet" href="dist/style.min.css")
script.
	addEventListener('load', function () {
		document.head.appendChild(document.head.querySelector('#scripts').content.cloneNode(true))
	})
template#scripts
	script(defer data-main="dist/script.min" src="dist/alameda.min.js")
	script(defer src="dist/webcomponents.min.js")
	link(defer rel="import" href="dist/index.min.html")
detox-chat-app
