doctype html
meta(charset="utf-8")
title Detox Chat
link(rel="stylesheet" href="css/style.css")
script(src="node_modules/alameda/alameda.js" data-main="js/index" async)
script(src="node_modules/@webcomponents/webcomponentsjs/webcomponents-hi-sd-ce.js" async)
link(rel="import" href="html/index.html")
detox-chat-app
