doctype html
meta(charset="utf-8")
title Detox Chat (debug)
link(rel="shortcut icon" href="favicon.ico")
//- TODO: Some mechanism for appending versions to URLs here and in js/index
link(rel="stylesheet" href="css/style.css")
script(async data-main="js/index" src="node_modules/alameda/alameda.js")
script(async src="node_modules/@webcomponents/webcomponentsjs/webcomponents-hi-sd-ce.js")
body(debug)
	detox-chat-app
