doctype html
meta(charset="utf-8")
title Detox Chat (debug)
link(rel="shortcut icon" href="favicon.ico")
link(rel="stylesheet" href="css/critical.css")
link(rel="stylesheet" href="css/style.css")
script(src="node_modules/alameda/alameda.js")
script(src="node_modules/@webcomponents/webcomponentsjs/webcomponents-hi-sd-ce.js")
link(rel="import" href="html/index.html")
script(src="js/index.js")
detox-chat-app
