dom-module(id="detox-chat-app-sidebar-contacts")
	link(rel="import" href="style.css" type="css")
	template
		div(hidden="[[_hide_header(contacts_requests, add_contact)]]")
			h4 Contacts requests
			csw-group#contacts-requests(vertical)
				template(is="dom-repeat" items="{{contacts_requests}}")
					.contact-item(on-click="_accept_contact_request")
						.nickname [[item.secret_name]]: [[item.name]]
		div(hidden="[[add_contact]]")
			h3
				div Contacts
				detox-chat-icon-button(icon="plus" tooltip="Add new contact"): button(type="button" on-click="_add_contact")
				detox-chat-icon-button(icon="question" tooltip="About contacts" hidden="[[!help]]"): button(type="button" on-click="_help")
		csw-form.add-contact(hidden="[[!add_contact]]"): form
			label Contact ID:
			csw-textarea: textarea(rows="4" value="{{new_contact_id}}")
			label Contact nickname (optional):
			csw-textarea: textarea(rows="3" value="{{new_contact_name}}")
			csw-button(primary): button(type="button" on-click="_add_contact_confirm") Save contact
			csw-button: button(type="button" on-click="_add_contact_cancel") Cancel
		div(hidden="[[!contacts.length]]")
			csw-group(vertical)
				template(is="dom-repeat" items="{{contacts}}")
					.contact-item(
						on-click="_set_active_contact"
						selected$="[[_selected(item, ui_active_contact)]]"
						unconfirmed$="[[_unconfirmed(item)]]"
						online$="[[_online(item, online_contacts)]]"
						unread$="[[_unread(item, ui_active_contact, contacts_with_unread_messages)]]"
						pending$="[[_pending(item, contacts_with_pending_messages)]]"
					)
						.nickname [[item.nickname]]
						detox-chat-icon-button(icon="edit" tooltip="Rename contact"): button(type="button" on-click="_rename_contact")
						detox-chat-icon-button(icon="trash" tooltip="Delete contact"): button(type="button" on-click="_del_contact")
	script(src="script.js")
