dom-module(id="detox-chat-app-sidebar-contacts")
	link(rel="import" href="style.css" type="css")
	template
		csw-button(icon="plus"): button Add new contact
		p
			| TODO: Contacts list
	script(src="script.js")
