dom-module(id="detox-chat-app-sidebar-profile")
	link(rel="import" href="style.css" type="css")
	template
		csw-form: form
			label ID (no secret):
			csw-textarea: textarea(readonly on-click="_id_click" rows="3" value="[[id_base58]]")
			label Nickname:
			csw-textarea: textarea(rows="3" value="{{nickname}}")
			div(hidden="[[add_secret]]")
				h3
					div Secrets
					csw-icon(mono icon="plus" on-click="_add_secret" tooltip="Add secret")
					csw-icon(mono icon="question" on-click="_help" tooltip="What are secrets?")
		csw-form.add-secret(hidden="[[!add_secret]]"): form
			label Secret name:
			csw-input-text: input(type="text" value="{{new_secret_name}}")
			label Secret length (1..32):
			csw-input-text: input(type="number" min="1" max="32" value="{{new_secret_length}}")
			csw-button(primary): button(type="button" on-click="_add_secret_confirm") Save secret
			csw-button: button(type="button" on-click="_add_secret_cancel") Cancel
		csw-form: form
			template(is="dom-repeat" items="{{secrets}}")
				label.secret-name
					div ID for secret <i>[[item.name]]</i>:
					csw-icon(mono icon="edit" on-click="_rename_secret" tooltip="Rename secret")
					csw-icon(mono icon="trash" on-click="_del_secret" tooltip="Delete secret")
				csw-textarea: textarea(readonly on-click="_id_click" rows="4" value="[[item.id]]")
	script(src="script.js")
