dom-module(id="detox-chat-app-sidebar-profile")
	link(rel="import" href="style.css" type="css")
	template
		csw-form: form
			label(hidden="[[!advanced_user]]") Plain ID (no secret):
			csw-textarea(hidden="[[!advanced_user]]"): textarea(readonly on-click="_id_click" rows="3" value="[[id_base58]]")
			label(hidden="[[advanced_user]]")
				div ID:
				detox-chat-icon-button(icon="question" tooltip="What is ID?" hidden="[[!help]]"): button(type="button" on-click="_help_id")
			csw-textarea(hidden="[[advanced_user]]"): textarea(readonly on-click="_id_click" rows="3" value="[[id_default_secret]]")
			label Nickname:
			csw-textarea: textarea(rows="3" value="{{nickname}}" on-blur="_nickname_blur")
			div(hidden="[[add_secret]]")
				h3(hidden="[[!advanced_user]]")
					div Secrets
					detox-chat-icon-button(icon="plus" tooltip="Add secret"): button(type="button" on-click="_add_secret")
					detox-chat-icon-button(icon="question" tooltip="What are secrets?" hidden="[[!help]]"): button(type="button" on-click="_help_secrets")
		csw-form.add-secret(hidden="[[!add_secret]]"): form
			label Secret name:
			csw-input-text: input(type="text" value="{{new_secret_name}}")
			label Secret length (1..32):
			csw-input-text: input(type="number" min="1" max="32" value="{{new_secret_length}}")
			csw-button(primary): button(type="button" on-click="_add_secret_confirm") Save secret
			csw-button: button(type="button" on-click="_add_secret_cancel") Cancel
		csw-form(hidden="[[!advanced_user]]"): form
			template(is="dom-repeat" items="{{secrets}}")
				label
					div ID for secret <i>[[item.name]]</i>:
					detox-chat-icon-button(icon="edit" tooltip="Rename secret"): button(type="button" on-click="_rename_secret")
					detox-chat-icon-button(icon="trash" tooltip="Delete secret"): button(type="button" on-click="_del_secret")
				csw-textarea: textarea(readonly on-click="_id_click" rows="4" value="[[item.id]]")
	script(src="script.js")
