dom-module(id="detox-chat-app-sidebar-profile")
	link(rel="import" href="style.css" type="css")
	template
		csw-form: form
			label ID:
			csw-textarea: textarea(readonly on-click="_id_click" rows="3" value="[[id_base58]]")
			label Name:
			csw-textarea: textarea(rows="3" value="{{name}}")
			label: csw-button(icon="plus"): button(type="button" on-click="_add_secret") Add new secret
			template(is="dom-repeat" items="{{secrets}}")
				label
					| ID for secret
					= ' '
					i [[item.name]]
					| :
				csw-textarea: textarea(readonly on-click="_id_click" rows="4" value="[[item.id]]")
	script(src="script.js")
