dom-module(id="detox-chat-app-sidebar")
	link(rel="import" href="style.css" type="css")
	template
		csw-tabs
			csw-button: button Contacts
			csw-button: button Settings
		csw-switcher
			#contacts-list
				| TODO: Contacts list
			#settings
				| TODO: Settings
	script(src="script.js")
