dom-module(id="detox-chat-app-sidebar")
	link(rel="import" href="style.css" type="css")
	template
		csw-tabs
			csw-button: button Contacts
			csw-button: button Settings
		csw-switcher
			#contacts-list
				csw-button(icon="plus"): button Add new contact
				div
					| TODO: Contacts list
			#settings
				| TODO: Settings
		detox-chat-app-sidebar-status(chat-id="[[chat-id]]")
	script(src="script.js")
