dom-module(id="detox-chat-app-sidebar")
	link(rel="import" href="style.css" type="css")
	template
		csw-tabs
			csw-button: button Contacts
			csw-button: button Profile
			csw-button: button Settings
		csw-switcher
			detox-chat-app-sidebar-contacts(chat-id="[[chat-id]]")
			detox-chat-app-sidebar-profile(chat-id="[[chat-id]]")
			#settings
				csw-form: form
					label Announce to the network*:
					csw-group
						csw-label-button(value="{{settings_announce}}"): label
							input(type="radio" value="0")
							| No
						csw-label-button: label
							input(type="radio" value="1")
							| Yes
				p * Changing these settings require application restart in order to take effect
		detox-chat-app-sidebar-status(chat-id="[[chat-id]]")
	script(src="script.js")
