script(src="behaviors.js")
link(rel="import" href="../node_modules/@polymer/polymer/polymer.html")
link(rel="import" href="widgets-theme/css-variables.html")
link(rel="import" href="widgets-theme/iron-flex-layout.html")
link(rel="import" href="widgets-theme/widgets-styling.html")
link(rel="import" href="../node_modules/cleverstyle-widgets/src/index.html")
link(rel="import" href="detox-chat-app/index.html")
link(rel="import" href="detox-chat-app-dialogs/index.html")
link(rel="import" href="detox-chat-app-sidebar/index.html")
link(rel="import" href="detox-chat-app-sidebar-status/index.html")
