dom-module(id="detox-chat-app-sidebar-settings")
	link(rel="import" href="style.css" type="css")
	template
		csw-form: form
			label
				div User experience level:
				csw-icon(mono icon="question" on-click="_help_settings_experience" tooltip="What these levels mean?" hidden="[[!help]]")
			csw-group
				csw-label-button(value="{{settings_experience}}"): label
					input(type="radio" value="0")
					| Casual
				csw-label-button: label
					input(type="radio" value="1")
					| Advanced
				csw-label-button: label
					input(type="radio" value="2")
					| Developer
			label
				div Help buttons:
				csw-icon(mono icon="question" on-click="_help_settings_help" tooltip="Help buttons?" hidden="[[!help]]")
			csw-group
				csw-label-button(value="{{settings_help}}"): label
					input(type="radio" value="0")
					| No
				csw-label-button: label
					input(type="radio" value="1")
					| Yes
			label(hidden="[[!advanced_user]]")
				div Announce to the network*:
				csw-icon(mono icon="question" on-click="_help_settings_announce" tooltip="What is announcement?" hidden="[[!help]]")
			csw-group(hidden="[[!advanced_user]]")
				csw-label-button(value="{{settings_announce}}"): label
					input(type="radio" value="0")
					| No
				csw-label-button: label
					input(type="radio" value="1")
					| Yes
			label(hidden="[[!advanced_user]]")
				div Block contact requests X days:
				csw-icon(mono icon="question" on-click="_help_settings_block_contact_requests_for" tooltip="What is blocking contacts requests?" hidden="[[!help]]")
			csw-input-text(hidden="[[!advanced_user]]"): input(type="number" min="0" value="{{settings_block_contact_requests_for}}")
			label(hidden="[[!advanced_user]]")
				div Bootstrap nodes*:
				csw-icon(mono icon="question" on-click="_help_settings_bootstrap_nodes" tooltip="What are bootstrap nodes?" hidden="[[!help]]")
			csw-textarea(hidden="[[!advanced_user]]"): textarea(rows="10" wrap="off" value="{{settings_bootstrap_nodes_string}}" on-blur="_settings_bootstrap_nodes_blur")
			label(hidden="[[!developer]]")
				div DHT bucket size*:
				csw-icon(mono icon="question" on-click="_help_settings_bucket_size" tooltip="What is DHT bucket size?" hidden="[[!help]]")
			csw-input-text(hidden="[[!developer]]"): input(type="number" min="2" value="{{settings_bucket_size}}")
			label(hidden="[[!advanced_user]]")
				div ICE servers*:
				csw-icon(mono icon="question" on-click="_help_settings_ice_servers" tooltip="What are ICE servers?" hidden="[[!help]]")
			csw-textarea(hidden="[[!advanced_user]]"): textarea(rows="10" wrap="off" value="{{settings_ice_servers_string}}" on-blur="_settings_ice_servers_blur")
			label(hidden="[[!developer]]")
				div Max pending segments*:
				csw-icon(mono icon="question" on-click="_help_settings_max_pending_segments" tooltip="What are pending segments?" hidden="[[!help]]")
			csw-input-text(hidden="[[!developer]]"): input(type="number" min="1" value="{{settings_max_pending_segments}}")
			label(hidden="[[!developer]]")
				div Number of intermediate nodes*:
				csw-icon(mono icon="question" on-click="_help_settings_number_of_intermediate_nodes" tooltip="What are intermediate nodes?" hidden="[[!help]]")
			csw-input-text(hidden="[[!developer]]"): input(type="number" min="1" value="{{settings_number_of_intermediate_nodes}}")
			label(hidden="[[!developer]]")
				div Number of introduction nodes*:
				csw-icon(mono icon="question" on-click="_help_settings_number_of_introduction_nodes" tooltip="What are introduction nodes?" hidden="[[!help]]")
			csw-input-text(hidden="[[!developer]]"): input(type="number" min="1" value="{{settings_number_of_introduction_nodes}}")
			label(hidden="[[!developer]]")
				div Online*:
				csw-icon(mono icon="question" on-click="_help_settings_online" tooltip="What online means?" hidden="[[!help]]")
			csw-group(hidden="[[!developer]]")
				csw-label-button(value="{{settings_online}}"): label
					input(type="radio" value="0")
					| No
				csw-label-button: label
					input(type="radio" value="1")
					| Yes
			label(hidden="[[!developer]]")
				div Packets per second*:
				csw-icon(mono icon="question" on-click="_help_settings_packets_per_second" tooltip="What are packets per second?" hidden="[[!help]]")
			csw-input-text(hidden="[[!developer]]"): input(type="number" min="1" value="{{settings_packets_per_second}}")
			label(hidden="[[!developer]]")
				div Reconnects intervals:
				csw-icon(mono icon="question" on-click="_help_settings_reconnects_intervals" tooltip="What are reconnects intervals?" hidden="[[!help]]")
			csw-textarea(hidden="[[!developer]]"): textarea(rows="10" wrap="off" value="{{settings_reconnects_intervals_string}}" on-blur="_settings_reconnects_intervals_blur")
		p.restart-warning * Changing these settings require application restart in order to take effect
	script(src="script.js")
