dom-module(id="detox-chat-app-sidebar-settings")
	link(rel="import" href="style.css" type="css")
	template
		csw-form: form
			label
				div User experience level:
				detox-chat-icon-button(icon="question" tooltip="What these levels mean?" hidden="[[!help]]"): button(type="button" on-click="_help_settings_experience")
			csw-group
				csw-label-button(value="{{settings_experience}}"): label
					input(type="radio" value="[[state.EXPERIENCE_REGULAR]]")
					| Regular
				csw-label-button: label
					input(type="radio" value="[[state.EXPERIENCE_ADVANCED]]")
					| Advanced
				csw-label-button: label
					input(type="radio" value="[[state.EXPERIENCE_DEVELOPER]]")
					| Developer
			label
				div Send message with:
				detox-chat-icon-button(icon="question" tooltip="What is this?" hidden="[[!help]]"): button(type="button" on-click="_help_settings_send_ctrl_enter")
			csw-group
				csw-label-button(value="{{settings_send_ctrl_enter}}"): label
					input(type="radio" value="0")
					| Enter
				csw-label-button: label
					input(type="radio" value="1")
					| Ctrl+Enter
			label
				div Audio notifications:
				detox-chat-icon-button(icon="question" tooltip="What notifications?" hidden="[[!help]]"): button(type="button" on-click="_help_settings_audio_notifications")
			csw-group
				csw-label-button(value="{{settings_audio_notifications}}"): label
					input(type="radio" value="0")
					| No
				csw-label-button: label
					input(type="radio" value="1")
					| Yes
			label
				div Help buttons:
				detox-chat-icon-button(icon="question" tooltip="Help buttons?" hidden="[[!help]]"): button(type="button" on-click="_help_settings_help")
			csw-group
				csw-label-button(value="{{settings_help}}"): label
					input(type="radio" value="0")
					| No
				csw-label-button: label
					input(type="radio" value="1")
					| Yes
			label(hidden="[[!advanced_user]]")
				div Announce to the network*:
				detox-chat-icon-button(icon="question" tooltip="What is announcement?" hidden="[[!help]]"): button(type="button" on-click="_help_settings_announce")
			csw-group(hidden="[[!advanced_user]]")
				csw-label-button(value="{{settings_announce}}"): label
					input(type="radio" value="0")
					| No
				csw-label-button: label
					input(type="radio" value="1")
					| Yes
			label(hidden="[[!advanced_user]]")
				div Block contact requests X days:
				detox-chat-icon-button(icon="question" tooltip="What is blocking contacts requests?" hidden="[[!help]]"): button(type="button" on-click="_help_settings_block_contact_requests_for")
			csw-input-text(hidden="[[!advanced_user]]"): input(type="number" min="0" value="{{settings_block_contact_requests_for}}")
			label(hidden="[[!advanced_user]]")
				div Bootstrap nodes*:
				detox-chat-icon-button(icon="question" tooltip="What are bootstrap nodes?" hidden="[[!help]]"): button(type="button" on-click="_help_settings_bootstrap_nodes")
			csw-textarea(hidden="[[!advanced_user]]"): textarea(rows="10" wrap="off" value="{{settings_bootstrap_nodes_string}}" on-blur="_settings_bootstrap_nodes_blur")
			label(hidden="[[!developer]]")
				div DHT bucket size*:
				detox-chat-icon-button(icon="question" tooltip="What is DHT bucket size?" hidden="[[!help]]"): button(type="button" on-click="_help_settings_bucket_size")
			csw-input-text(hidden="[[!developer]]"): input(type="number" min="2" value="{{settings_bucket_size}}")
			label(hidden="[[!advanced_user]]")
				div ICE servers*:
				detox-chat-icon-button(icon="question" tooltip="What are ICE servers?" hidden="[[!help]]"): button(type="button" on-click="_help_settings_ice_servers")
			csw-textarea(hidden="[[!advanced_user]]"): textarea(rows="10" wrap="off" value="{{settings_ice_servers_string}}" on-blur="_settings_ice_servers_blur")
			label(hidden="[[!developer]]")
				div Max pending segments*:
				detox-chat-icon-button(icon="question" tooltip="What are pending segments?" hidden="[[!help]]"): button(type="button" on-click="_help_settings_max_pending_segments")
			csw-input-text(hidden="[[!developer]]"): input(type="number" min="1" value="{{settings_max_pending_segments}}")
			label(hidden="[[!developer]]")
				div Number of intermediate nodes*:
				detox-chat-icon-button(icon="question" tooltip="What are intermediate nodes?" hidden="[[!help]]"): button(type="button" on-click="_help_settings_number_of_intermediate_nodes")
			csw-input-text(hidden="[[!developer]]"): input(type="number" min="0" value="{{settings_number_of_intermediate_nodes}}")
			label(hidden="[[!developer]]")
				div Number of introduction nodes*:
				detox-chat-icon-button(icon="question" tooltip="What are introduction nodes?" hidden="[[!help]]"): button(type="button" on-click="_help_settings_number_of_introduction_nodes")
			csw-input-text(hidden="[[!developer]]"): input(type="number" min="1" value="{{settings_number_of_introduction_nodes}}")
			label(hidden="[[!developer]]")
				div Online*:
				detox-chat-icon-button(icon="question" tooltip="What online means?" hidden="[[!help]]"): button(type="button" on-click="_help_settings_online")
			csw-group(hidden="[[!developer]]")
				csw-label-button(value="{{settings_online}}"): label
					input(type="radio" value="0")
					| No
				csw-label-button: label
					input(type="radio" value="1")
					| Yes
			label(hidden="[[!developer]]")
				div Packets per second*:
				detox-chat-icon-button(icon="question" tooltip="What are packets per second?" hidden="[[!help]]"): button(type="button" on-click="_help_settings_packets_per_second")
			csw-input-text(hidden="[[!developer]]"): input(type="number" min="1" value="{{settings_packets_per_second}}")
			label(hidden="[[!developer]]")
				div Reconnects intervals:
				detox-chat-icon-button(icon="question" tooltip="What are reconnects intervals?" hidden="[[!help]]"): button(type="button" on-click="_help_settings_reconnects_intervals")
			csw-textarea(hidden="[[!developer]]"): textarea(rows="10" wrap="off" value="{{settings_reconnects_intervals_string}}" on-blur="_settings_reconnects_intervals_blur")
			label(hidden="[[!developer]]")
				div Additional options:
				detox-chat-icon-button(icon="question" tooltip="What are additional options?" hidden="[[!help]]"): button(type="button" on-click="_help_settings_additional_options")
			csw-textarea(hidden="[[!developer]]"): textarea(rows="10" wrap="off" value="{{settings_additional_options_string}}" on-blur="_settings_additional_options_blur")
			label
				div.recommended Backup and restore data
				detox-chat-icon-button.recommended(icon="question" tooltip="What data can be backed up and restored?" hidden="[[!help]]"): button(type="button" on-click="_help_backup_restore_data")
			div
				csw-button: button.recommended(type="button" on-click="_backup") Backup
				csw-button: button.recommended(type="button" on-click="_restore") Restore
			label
				div.dangerous Remove all of the data
				detox-chat-icon-button.dangerous(icon="question" tooltip="What will be removed?" hidden="[[!help]]"): button(type="button" on-click="_help_remove_all_of_the_data")
			csw-button: button.dangerous(type="button" on-click="_remove_all_of_the_data") Remove
		p.restart-warning * Changing these settings requires restart to take effect
	script(src="script.js")
