dom-module(id="detox-chat-app-dialogs")
	link(rel="import" href="style.css" type="css")
	template
		template(is="dom-if" if="[[active_contact]]")
			template(is="dom-repeat" items="{{messages}}")
				p(right$="[[!item.0]]") [[item.2]]
		template(is="dom-if" if="[[!active_contact]]")
			p Select a contact from the left menu
	script(src="script.js")
