dom-module(id="detox-chat-app-sidebar-status")
	link(rel="import" href="style.css" type="css")
	template
		p
			b Network state:
			|  [[_online(online)]]
			b  Announced:
			|  [[_announced(announced)]]
	script(src="script.js")
